* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    background-color: rgb(15, 12, 31);
    font-size: 1.5em;
    width: 100vw;
    padding: 0;
}

.nav_container {
    padding: 0 4em;
    display: flex;
    align-items: center;
    min-height: 8vh;
    min-width: 100vw;
    justify-content: space-between;
}

#logo {
    width: 2.8em;
    height: 2.8em;
}
.logo {
    text-transform: uppercase;
}

.nav_bar {
    /* border: turquoise solid; */
    width: 70%;
}
.nav_bar ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    float: right;
}
.nav_bar ul li {
    justify-content: space-around;
    list-style: none;
}
.button {
    text-decoration: none;
    letter-spacing: 3px;
    color: rgb(0, 255, 229);
}

.button:hover {
    color: rgb(0, 255, 255);
    /* font-weight: 600;   */
    text-shadow: rgb(0, 255, 229) 0 0 20px;
}
